*{
    padding: 0;
    margin: 0; 
    font-family: -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;;
}

::-webkit-scrollbar{
    display: none;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.App{
    background-color: #fafafa;
}

.container{
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.embed{
    position: fixed;
    right: 12%;
}