*{
    padding: 0;
    margin: 0; 
    font-family: -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;;
}
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.App{
    background-color: #fafafa;
}

.container, .nav_container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* Navbar */

.app_nav{
    background-color: white;
    border-bottom: 1px solid lightgrey;
}

.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
}

.app_navicon img{
    padding: 15px 0 5px 15px;
    object-fit: contain;
}

/* Navbar */


/* Modal */
.modal{
    display: flex;
    align-items: center;
    justify-content: center;
}

.paper{
    background-color: lightgrey;
    border: 2px solid #000;
    box-shadow: 2px 2px 7px 1px grey;
    padding: 20px;
}
/* Modal */

.userAuth{
    display: flex;
    flex-direction: column;
}