.PostAdding{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.PostAdding form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.PostAdding button, .PostAdding input, .PostAdding label{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}