.postgrid{
    margin-top: 40px;
    margin-bottom: 50px;
    display: grid;
    width: 100%;
    min-height: 250px;
    max-width: 1000px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.gridItem{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
	background-position: 50% 50%;
}

.gridItem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    user-select: none;
}

.overlay{
    position: relative;
    bottom: 101%;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    font-weight: 600;
}

.overlay:hover {
    opacity: 1;
}

.overlay ul{
    position: relative;
    top: 30%;
}

.overlay li{
    color: whitesmoke;
    user-select: none;
    display: inline;
    margin-right: 10px;
    font-size: 18px;
}